body {
    background-color: antiquewhite;
    margin: 0;
    overflow: hidden;
  }

  #animatedText::before{
      color: rgb(208, 22, 22);
  }
  #animatedText{
      color: rgb(132, 113, 91);
      font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    opacity: 0;
    animation: slideUp 5s forwards;
    
  }
  @keyframes slideUp {
    to {
      opacity: 1; 
      transform: translateX(-60%) translateY(-540px);
    }
     
  60%{
    letter-spacing: 10px; 
  }
  }
    


@media only screen and (max-width:800px){
#animatedText{
font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
font-weight: 600;
}
}
@media only screen and (max-width:600px){
  #animatedText{
  font-size: 30px;
  letter-spacing: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  font-weight: 500;
  }
  @keyframes slideUp {
    to {
      opacity: 1; 
      transform: translateX(-60%) translateY(-545px);
    }
     
  60%{
    letter-spacing: 5px; 
  }
  }
    
  }
  

